:root {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-text-active: #E6E7E8;
    --color-text-muted: #A3A4A6;
    --color-text-disabled: #707173;
    --color-text-warning-red: #E84C3D;
    --color-text-warning-yellow: #E3B341;
    --color-text-success-green: #70C46F;

    --color-surface: #2B2C2E;
    --color-surface-light: #3A3B3D;
    --color-surface-dark: #242526;

    --color-panel: #3A3B3D;
    --color-panel-hover: #434447;
    --color-panel-active: #505255;
    --color-panel-text-muted: #A3A4A6;
    --color-panel-text-active: #E6E7E8;

    --color-accent: #FFA646;
    --color-accent-hover: #FFB766;
    --color-accent-active: #E78F2F;
    --color-accent-soft: rgba(255, 166, 70, 0.15);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--color-panel);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-panel-hover);
}