@use "../../styles/mixins/RelativeContainerWrapper.scss" as *;

.channel-fader {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        width: 5px;
        height: 100%;
        position: relative;
        background: var(--color-panel);
        border-radius: 5px;
        transition: background 150ms ease;

        &__current {
            width: 5px;
            height: 80%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: var(--color-accent);
            border-radius: 5px;
            transition: background 150ms ease;

            &__container {
                @include RelativeContainerWrapper;
            }

            &__label {
                width: 40px;
                height: 20px;
                position: absolute;
                top: -60px;
                left: -21px;
                z-index: 1;
                background: rgb(0, 0, 0, 25%);
                padding: 5px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                pointer-events: none;
                opacity: 0;
                transition: opacity 150ms ease;
                color: var(--color-white);

                span {
                    font-size: 12px;
                }
            }

            &__thumb {
                width: 20px;
                height: 40px;
                position: absolute;
                top: -20px;
                left: -7px;
                z-index: 1;
                background: var(--color-surface-light);
                transition: background 150ms ease;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;
                align-items: center;
                cursor: grab;

                &__line {
                    height: 2px;
                    width: 10px;
                    background: var(--color-accent);
                    transition: background 150ms ease;
                }
            }


        }
    }

    &.is-dragging {
        .channel-fader__body__current__label {
            opacity: 1;
        }
    }
}