@use "../../styles/mixins/RelativeContainerWrapper.scss" as *;

.app-window {
    position: fixed;
    width: 400px;
    height: 230px;
    min-width: 400px;
    min-width: 230px;
    z-index: 100;;
    left: calc(50% - 200px);
    top: calc(50% - 115px);
    border-radius: 5px;
    background: rgb(0, 0, 0, 25%);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb(0, 0, 0, 25%);
    border: 1px solid var(--color-surface-light);
    font-size: var(--font-size-small);
    user-select: none;

    &__container {
        @include RelativeContainerWrapper;
        display: grid;
        grid-template-rows: 30px auto;
        gap: 0px;
    }
}