@mixin RelativeContainerWrapper {
    width: 100%;
    height: 100%;
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
    }
}